.content-table {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 80px 200px;
  flex-direction: column;
  & h1 {
    color: #fff;
  }

  & p {
    color: #f0f0ff;
  }
}

.user-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  background: #b5efffb0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.user-table th {
  background: #ff7b00c7;
  padding: 12px;
  text-align: center;
}

.user-table td {
  padding: 10px;
  border-bottom: 1px solid #f3f8ab;
}

.user-table tr:hover {
  background: #f0f0ff;
}

.button-table {
  background: #ffb6b6;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.button-table:hover {
  background: #ff8da1;
}
